<div class="container">
  <div class="row text-center">    
    <header style="z-index: 1">
      <figure class="snip1091 btn" style="height: 300px; width: 400px; margin-top: 10%">
        <figcaption>
          <h2 style="font-size: 10vw">F.I.D.F<br><span>YL</span></h2>
        </figcaption><a href="#"></a>
      </figure>      
      <h1 class="style-zoom"></h1>
      <h1 style="opacity: 1"><b></b></h1>
      <p style="color: white"><b>Friends Of The I.D.F - Young Leadership Division</b></p>
      <h5 style="color: white">Join The Family</h5>
    </header>
  </div><br>
  <div class="row">
    <div class="col-md-4 col-xs-6 col-xs-12 text-center col-md-push-4" style="display: none" id="show" align="center">
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.text_field :email, hide_label: true, placeholder: "Email" %>
        <%= f.password_field :password, hide_label: true, placeholder: "Password" %>
        <%= f.submit 'Log In', class: "btn btn-primary", style: "padding: 6px 100px" %><br>
        <%= link_to "Forgot your password?", new_password_path(:user) %>
      <% end %>
    </div>   
  </div>  
  <!-- Photo Grid -->
  <div class="row" style="position: fixed; left: 0; top: 0; z-index: -10"> 
    <div class="column">
      <%= image_tag("home-pic1", style: "width:100%; opacity: 0.3") %>
      <%= image_tag("home-pic2", style: "width:100%; opacity: 0.3") %>
      <%= image_tag("home-pic9", style: "width:100%; opacity: 0.3") %>
      <%= image_tag("home-pic12", style: "width:100%; opacity: 0.3") %>    
    </div>
    <div class="column" style="max-height: 100%">
      <%= image_tag("home-pic3", style: "width:100%; opacity: 0.3") %>
      <%= image_tag("home-pic11", style: "width:100%; opacity: 0.3") %> 
      <%= image_tag("home-pic13", style: "width:100%; opacity: 0.3") %>    
    </div>  
    <div class="column" style="max-height: 100%">
      <%= image_tag("home-pic4", style: "width:100%; opacity: 0.3") %>
      <%= image_tag("home-pic10", style: "width:100%; opacity: 0.3") %>
      <%= image_tag("home-pic7", style: "width:100%; opacity: 0.3") %>
    </div>
    <div class="column" style="max-height: 100%">
      <%= image_tag("home-pic5", style: "width:100%; opacity: 0.3") %>
      <%= image_tag("home-pic8", style: "width:100%; opacity: 0.3") %>
      <%= image_tag("home-pic6", style: "width:100%; opacity: 0.3") %>
      <%= image_tag("home-pic14", style: "width:100%; opacity: 0.3") %>        
    </div>
  </div>
</div>


 

<script>
  /* Demo purposes only */
  $("figure").mouseleave(
    function() {
      $(this).removeClass("hover");
    }
  );
  

      $(".btn").click(function(e) {
        $("#show").css({'display' : 'inline'});
        e.preventDefault();
      });

</script>


